*{
font-family: Poppins;
font-style: Regular;
font-size: 18px
}


.div-cadastro{
    height: 62vh;
    text-align: center;
}

form{
    display: flex;
    text-align: center;

}




.bairro-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.bairro-div label{
 margin-right: 35px
}

input{
    margin-bottom: 5px;
}

.bairro-div input {
    width: 100px;
    margin-right: 0px;
}

@media only screen and (max-width: 768px) { 


    .div-cadastro{
        height: 63vh;
    }

h2{
    font-size: 14px;
}

}
